body {
    font-family: "Times New Roman", Times, serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
}

td {
    padding: 4px;
}

button {
    width: 130px;
    padding: 5px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.input-content {
    width: 150px;
}

.input-pos {
    width: 50px;
}

